header {
    background-color: #15d8be;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.recipe a {
    font-size: 18px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 15px;
}

.menu > a {
    border-radius: 25px;
    border: 2px solid #00704b;
    background-color: white;
    padding: 10.5px 13px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    

    &:hover {
        background-color: #dcdcdc;
    }
    &:active {
        background-color: #a9a9a9;
    }
}

.explain > p {
    border-left: 4.5px solid rgb(201, 119, 119);
}

.main a {
    display: block;
    width: calc(33.33% - 20px);
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main a:hover {
    background-color: #15d8be;
}