header {
    background-color: #15d8be;
    padding: 20px;
    text-align: center;
    font-size: 2.5em;
}
main {
    padding: 20px;
}

h2 {
    font-size: 1.5em;
    color: #36b5be;
}

.button {
    background-color: #139469;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
.button:hover {
    background-color: #0d7250;
}
.button:active {
    background-color: #07412e;
}
.engbutton {
    background-color: #139469;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
.engbutton:hover {
    background-color: #0d7250;
}
.engbutton:active {
    background-color: #07412e;
}

.krlang {
    background-color: #139469;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
.krlang:hover {
    background-color: #0d7250;
}
.krlang:active {
    background-color: #07412e;
}
.englang {
    background-color: #139469;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
.englang:hover {
    background-color: #0d7250;
}
.englang:active {
    background-color: #07412e;
}
.lang {
    background-color: #139469;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
}
.lang:hover {
    background-color: #0d7250;
}
.lang:active {
    background-color: #07412e;
}

.bread.con, .cookie.con, .candy.con {
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.bread.con a, .cookie.con a, .candy.con a {
    display: block;
    width: calc(33.33% - 20px);
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.bread.con a:hover, .cookie.con a:hover, .candy.con a:hover {
    background-color: #15d8be;
}